<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action={{url_for('add')}}>
    <label for="author">Author</label><br>
    <input type="text" id="author" name="author"> <br>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"> <br>
    <label for="content">content</label><br>
    <input type="text" id="content" name="content"> <br>
    <button type="submit">Publish</button>
    <br>

</form>
</body>
</html>